.quantity {
    border: 1px solid #ced4da;
    border-radius: 6px;
    overflow: hidden;
    width: 100px;
}

.minus_button {
    border: none;
    height: 28px;
    border-right: 1px solid #ced4da;
}

.add_button{
    border: none;
    height: 28px;
}

.quantity_input {
    flex: 1;
    text-align: center;
    line-height: 28px;
    border-right: 1px solid #ced4da;
}